body {
	width: 100%;
	font-family: Courier, monospace;
	background:  url(../images/background.jpg) no-repeat;
	background-size: cover; 
}

h1 {
	color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 75px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	padding-bottom: 20px;
	border: 3px solid white;
}

h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

#Hangman p{
	text-align: center;
	clear: both;
	font-size: 24px;
	color: white;
	line-height: 20px;
	font-weight: 700px;
	padding-top: 10px;
}


#head {
	text-align: center;
}

#images img {
	float: left;
	text-align: center;
	padding-left: 60px;
	padding-top: 20px;
	width: 400px;
	height: 400px;
}
#text {
	width: 50%;
	float: right;
	text-align: center;
}
#window1 {
	/*border: 1px solid black;*/
}
#window2 {
	/*border: 1px solid black;*/
}
#window3 {
	/*border: 1px solid black;*/
} 