body {
	width: 100%;
	font-family: Courier, monospace;
	background:  url(../images/background.jpg) no-repeat;
	background-size: cover; 
}

h1 {
	color: white; 
	font-family: 'Monoton', cursive; 
	font-size: 75px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	padding-bottom: 20px;
	border: 3px solid white;
}


#Hangman p{
	text-align: center;
	clear: both;
	font-size: 56px;
	color: blue;
	line-height: 20px;
	font-weight: 700px;
	font-family: 'Tangerine', cursive;
	position: relative;
	top: 30px;
}


#head {
	text-align: center;
}

#image1{
	float: left;
	text-align: center;
	padding: 20px;
	width: 300px;
	height: 300px;
	position: relative;
	top: 40px;
	left: 20px;
}

/*#image2 {
	float: right;
	position: relative;
	right: 40px;
	top: 40px;
	padding: 20px;
}
*/
#text {
	float: left;
	text-align: left;
	color: white;
	padding: 20px;
	border: 3px dashed white;
	padding: 20px;
	position: relative;
	top: 80px;
	left: 250px;

}

/*
#window1 {
	border: 1px solid black;
}
#window2 {
	border: 1px solid black;
}
#window3 {
	border: 1px solid black;
} */